* {
    margin: 0px;
    padding: 0px;
}

.box {
    width: 1200px;
    margin: 0px auto;
}

body::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

nav {
    height: 60px;
    width: 100%;
}

footer {
    background-color: black;
    color: #908573;
}

.meishayong span::after {
    content: "|";
    margin-left: 10px;
    margin-right: 10px;
}

main {
    width: 100%;
    background-image: url(image/vipuser_denglubg3.jpg);
}

.nava {
    color: #60c4ff;
}

.navb {
    color: gray;
}

.nava::after {
    content: "|";
    margin-left: 15px;
    font-size: 20px;
}

#box {
    top: 50px;
}

#boxTxt {
    background-color: white;
    border-bottom: 1px solid gray;
}

#disa {
    width: 100%;
    background-color: white;
}

#disb {
    width: 100%;
    background-color: white;
}

#disb {
    width: 100%;
    background-color: white;
}

.form-group {
    width: 360px;
    height: 50px;
    margin: 0px auto;
}

.form-control {
    width: 360px;
    height: 50px;
    margin: 0px auto;
}

.inputa {
    top: 5px !important;
    left: 10px;
    width: 40px;
}

.checkBox {
    background-color: white;
    width: 20px;
    height: 20px;
    border: 1px solid #e1e4e6;
}

.button {
    width: 360px;
    height: 50px;
    line-height: 50px;
    background-color: #c6cacb;
    color: white;
    border-radius: 5px;
}

.meiyong {
    color: white;
}

.meiyong span {
    margin-left: 10px;
}

#bar {
    background-color: white;
    border: 1px solid rgb(177, 175, 175);
    border-radius: 3px;
}

.barBtn {
    background-color: white;
    color: #93d9fd;
    width: 40px;
    height: 38px;
}

.barBox {
    width: 317px;
    height: 38px;
    background-color: #f6f6f6;
}

.meiyongdexuanxiangkuang .form-control {
    width: 170px;
    height: 50px;
}

.btn-primary {
    width: 170px;
    height: 50px;
    color: gray;
    border: 0px;
    background-color: #f6f6f6;
}